/* Generals */

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--bs-dark);
    color: var(--bs-light);
}

tr {
    vertical-align: middle;
}

.footer-links a, .footer-links button {
    width: 48%;
    margin: 1%;
}

@media only screen and (max-width: 565px) {
    .footer-links a, .footer-links button {
        width: 100%;
        float: unset !important;
    }
}

.modal-content {
    color: var(--bs-dark) !important;
}

a.custom-link {
    color: var(--bs-light);
}

a.custom-link:hover {
    color: var(--bs-light);
}

/* Transfers */

.player-nation-flag {
    height: 30px;
    width: 30px;
}

.photo-container {
    width: 50px;
    height: 70px;
}

.photo-player {
    width: 100%;
    height: auto;
    border-radius: 10%;
}

table.inline-table tbody tr td {
    display: flex;
    align-items: center;
}

table.inline-table tbody tr td img {
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

.radio-switches {
    display: flex;
    align-items: center;
    margin: auto !important;
}

.radio-switches div input {
    cursor: pointer;
}

.full-width {
    width: 100%;
}

/* Countries */

.country-item {
    justify-content: center;
}

.country-image {
    width: 200px;
    height: 200px;
}

.country-information a {
    width: 100%;
}

.country-information a:last-child {
    margin-top: 5px;
}

.card-img-top {
    height: 200px;
}

.country-flag, .league-logo, .club-logo {
    width: 35px;
    height: 35px;
}

.country-flag-small {
    width: 25px;
    height: 25px;
}

/* Leagues */

.league-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.league-logo-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.league-logo-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.league-market-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card-photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Players */
.club-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-logo-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-market-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.player-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.player-photo {
    width: 55px;
    height: 100%;
}

.player-photo img {
    width: 100%;
    height: 100%;
}

.player-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
}
