body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--bs-dark);
    color: var(--bs-light);
}

tr {
    vertical-align: middle;
}

.player-nation-flag {
    height: 30px;
    width: 30px;
}

.photo-container {
    width: 50px;
    height: 70px;
}

.photo-player {
    width: 100%;
    height: auto;
    border-radius: 10%;
}

table.inline-table tbody tr td {
    display: flex;
    align-items: center;
}

table.inline-table tbody tr td img {
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

.modal-content {
    color: var(--bs-dark) !important;
}

.radio-switches {
    display: flex;
    align-items: center;
    margin: auto !important;
}

.radio-switches div input {
    cursor: pointer;
}

.full-width {
    width: 100%;
}

a.transfer-show {
    text-decoration: none;
    color: inherit;
}

a.transfer-show:hover {
    text-decoration: none;
    color: inherit;
}

.country-item {
    justify-content: center;
}

.country-image {
    width: 200px;
    height: 200px;
}

.country-information a {
    width: 100%;
}

.country-information a:last-child {
    margin-top: 5px;
}

.card-img-top {
    height: 200px;
}

.footer-links a, .footer-links button {
    width: 48%;
    margin: 1%;
}

@media only screen and (max-width: 565px) {
    .footer-links a, button {
        width: 100%;
        float: unset !important;
    }
}

.country-flag, .league-logo {
    width: 40px;
    height: 40px;
}
